<header class="navbar navbar-default navbar-fixed-top" role="banner">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="{{ site.url }}">
        {{ site.title }}
      </a>
    </div>
    <nav class="navbar-collapse collapse navbar-responsive-collapse">
      <ul class="nav navbar-nav">
        <li><a href="/index.html">Home</a></li>
        <li><a href="/about/index.html">About</a></li>
        <li><a href="/archive/index.html">Blog Archives</a></li>
      </ul>
    </nav>
  </div>
</header>

